<div class="playback" ng-controller="PlaybackController">
  <a class="previous" ng-click="previous()">previous</a>
  <a class="play" ng-click="play()">play</a>
  <a class="pause" ng-click="pause()">pause</a>
  <a class="next" ng-click="next()">next</a>

</div>

<div class="tracklist" ng-controller="TracklistController">
  <h1>Track List</h1>
  <div class="track" ng-repeat="track in tracklist.tracks">
    <span class="title">{{track.name}}</span> <button class="remove" ng-click="remove(track)">x</button>
    <div class="artist"><span ng-repeat="artist in track.artists">{{artist.name}}</span></div>
    <div class="album">{{track.album.name}}</div>
  </div>
</div>
