<div class="playback" ng-controller="PlaybackController">
  <a class="previous" ng-click="previous()">previous</a>
  <a class="play" ng-click="play()">play</a>
  <a class="pause" ng-click="pause()">pause</a>
  <a class="next" ng-click="next()">next</a>

</div>

<div class="search" ng-controller="SearchController">
  <form novalidate>
    <input ng-model='query.phrase'></input>
    <button ng-click='search(query)'>search</button>
  </form>

</div>

<div ng-controller="SearchResultsController">
  <div class="results">
    <div class='albums'>
      <div class='result' ng-repeat='album in results.albums'>
        {{album.name}}
        <button ng-click='queue(album)'>queue</button>
        <div class='artist'><span ng-repeat="artist in album.artists">{{artist.name}}</span></div>
      </div>
    </div>
  </div>
</div>
