<!doctype html>
<html lang="en" ng-app="qlab">
<head>
  <meta charset="utf-8">
  <title>Queuelaborate</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<header class="navigation">
  <div class="menu-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li><a href="#/queue">Queue</a></li>
        <li><a href="#/search">Search</a></li>
        <li><a href="#/settings">Settings</a></li>
        <li class="navigation-search-bar">
          <div class="search-bar">
            <div class="search-and-submit">
              <input type="search" placeholder="Enter Search" />
              <button type="submit">
                <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
              </button>
            </div>
          </div>
        </li>
        <!-- <li class="sign-up"><a href="javascript:void(0)">Sign Up</a></li> -->
      </ul>
    </div>
  </div>
</header>
<div class="playback" ng-controller="PlaybackController">
  <a class="previous" ng-click="previous()">previous</a>
  <a class="play" ng-click="play()">play</a>
  <a class="pause" ng-click="pause()">pause</a>
  <a class="next" ng-click="next()">next</a>

</div>
<div class="search" ng-controller="SearchController">
  <form novalidate>
    <input type='search' placeholder='search' ng-model='query.phrase'></input>
    <button type='submit' ng-click='search(query)'>search</button>
  </form>

</div>

  <div ng-view></div>

  <div>Queuelaborate: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/mopidy/mopidy.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
